html {
    font-family: "Open Sans";
}

.domain-background {
    fill: none;
}

.react-calendar-heapmap .graphLabel {
    fill: black;
}

.calendarBox {
    padding: 2px; /* 1 default */
}

.todayCalendarBox {
    background-color: #DDDDDD;
}

.monthViewDayCell {
    height: 100px;
    display: table-cell;
    border: 1px solid #1a2a4f;
    box-sizing: border-box;
    vertical-align: top;
}

.conceptPage {
    background-color: #3F3F3F;
}

#conceptTitle {
    color: #E46A68;
    text-align: center;
    font-size: 42px;
    padding: 20px;
    margin: 0 auto;
}

.activityTitle {
    color: #E46A68;
    font-size: 24px;
    margin-left: 20px;
}

.activityContainer {
    background-color: #3F3F3F;
    padding: 10px;
}
.activityContainer.activityContainerOdd {
    background-color: #4C4C4C;
}

hr.activityBreak {
    display: block;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    background-color: inherit;
}
/*
 * react-calendar-heatmap styles
 *
 * All of the styles in this file are optional and configurable!
 * The github and gitlab color scales are provided for reference.
 */

.react-calendar-heatmap {
    display: block;
}

.react-calendar-heatmap text {
    font-size: 10px;
    fill: #aaa;
}

.react-calendar-heatmap text.graphLabelLeft {
    font-size: 8px;
    fill: #aaa;
}

.react-calendar-heatmap rect:hover {
    stroke: #555;
    stroke-width: 1px;
}

/*
*
*/

.react-calendar-heatmap .heatmap-red-0 {
    fill: #fceded;
}

.react-calendar-heatmap .heatmap-red-1 {
    fill: #f6cdcc;
}

.react-calendar-heatmap .heatmap-red-2 {
    fill: #f0acab;
}

.react-calendar-heatmap .heatmap-red-3 {
    fill: #ea8b89;
}

.react-calendar-heatmap .heatmap-red-4 {
    fill: #e46a68;
}

/*
 * Default color scale
 */

.react-calendar-heatmap .color-empty {
    fill: #eeeeee;
}

.react-calendar-heatmap .color-filled {
    fill: #8cc665;
}

/*
 * Github color scale
 */

.react-calendar-heatmap .color-github-0 {
    fill: #eeeeee;
}

.react-calendar-heatmap .color-github-1 {
    fill: #d6e685;
}

.react-calendar-heatmap .color-github-2 {
    fill: #8cc665;
}

.react-calendar-heatmap .color-github-3 {
    fill: #44a340;
}

.react-calendar-heatmap .color-github-4 {
    fill: #1e6823;
}

/*
 * Gitlab color scale
 */

.react-calendar-heatmap .color-gitlab-0 {
    fill: #ededed;
}

.react-calendar-heatmap .color-gitlab-1 {
    fill: #acd5f2;
}

.react-calendar-heatmap .color-gitlab-2 {
    fill: #7fa8d1;
}

.react-calendar-heatmap .color-gitlab-3 {
    fill: #49729b;
}

.react-calendar-heatmap .color-gitlab-4 {
    fill: #254e77;
}

