html {
    font-family: "Open Sans";
}

.domain-background {
    fill: none;
}

.react-calendar-heapmap .graphLabel {
    fill: black;
}

.calendarBox {
    padding: 2px; /* 1 default */
}

.todayCalendarBox {
    background-color: #DDDDDD;
}

.monthViewDayCell {
    height: 100px;
    display: table-cell;
    border: 1px solid #1a2a4f;
    box-sizing: border-box;
    vertical-align: top;
}

.conceptPage {
    background-color: #FFFFFF;
}

#conceptTitle {
    color: #969696;
    text-align: center;
    font-size: 42px;
    padding: 20px;
    margin: 0 auto;
}


/*Red for black #E46A68*/

.activityTitle {
    color: #969696;
    font-size: 24px;
    margin-left: 20px;
}

.activityContainer {
    background-color: #FFFFFF;
    padding: 10px;
}
.activityContainer.activityContainerOdd {
    background-color: #EFEFEF;
}

hr.activityBreak {
    display: block;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    background-color: inherit;
}

.cpbContainer .cpbProgressText {
    fill: black;
}

.cpbContainer .cpbFill {
    stroke: #62ff62;
}

.cpbContainer .cpbBottomText {
    fill: #969696;
}
/*
 * react-calendar-heatmap styles
 *
 * All of the styles in this file are optional and configurable!
 * The github and gitlab color scales are provided for reference.
 */

.react-calendar-heatmap {
    display: block;
}

.react-calendar-heatmap text {
    font-size: 10px;
    fill: #aaa;
}

.react-calendar-heatmap text.graphLabelLeft {
    font-size: 8px;
    fill: #aaa;
}

.react-calendar-heatmap rect:hover {
    stroke: #555;
    stroke-width: 1px;
}

/*!**/
/** RED COLOR SCALE*/
/**!*/

/*.react-calendar-heatmap .heatmap-red-0 {*/
    /*fill: #fceded;*/
/*}*/

/*.react-calendar-heatmap .heatmap-red-1 {*/
    /*fill: #f6cdcc;*/
/*}*/

/*.react-calendar-heatmap .heatmap-red-2 {*/
    /*fill: #f0acab;*/
/*}*/

/*.react-calendar-heatmap .heatmap-red-3 {*/
    /*fill: #ea8b89;*/
/*}*/

/*.react-calendar-heatmap .heatmap-red-4 {*/
    /*fill: #e46a68;*/
/*}*/


/*!**/
/** RED COLOR SCALE*/
/**!*/

/*.react-calendar-heatmap .heatmap-green-0 {*/
    /*fill: #ebffeb;*/
/*}*/

/*.react-calendar-heatmap .heatmap-green-1 {*/
    /*fill: #d8ffd8;*/
/*}*/

/*.react-calendar-heatmap .heatmap-green-2 {*/
    /*fill: #b1ffb1;*/
/*}*/

/*.react-calendar-heatmap .heatmap-green-3 {*/
    /*fill: #62ff62;*/
/*}*/

/*.react-calendar-heatmap .heatmap-green-4 {*/
    /*fill: #14ff14;*/
/*}*/
